@{
    ViewData["Title"] = "Home Page";
    Layout = "_MainLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-controller="Quiz" asp-action="Login2">Login</a>.</p>
    <p>Learn about <a asp-controller="Quiz" asp-action="QuizOnline">Quiz</a>.</p>
    <p>Learn about <a asp-controller="Quiz" asp-action="Signup">Signup</a>.</p>
    <p>Learn about <a asp-controller="Quiz" asp-action="QuizOnline2">QuizOnline2</a>.</p>

</div>
