@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-controller="Quiz" asp-action="Login">Login</a>.</p>
    <p>Learn about <a asp-controller="Quiz" asp-action="QuizOnline">Quiz</a>.</p>
    <p>Learn about <a asp-controller="Quiz" asp-action="Signup">Signup</a>.</p>

</div>
